<header>
    <nav>
      <a href="/" title="{{site.title}}">{{site.title}}</a>
      <ul>
        <li>
          <a href="/posts/" title="Posts">Posts</a>
        </li>
        <li>
          <a href="/feed.xml" title="RSS">RSS</a>
        </li>
      </ul>
    </nav>
</header>