<header>
    <nav>
      <a href="/" title="vikram.day">vikram.day</a>
      <ul>
        <li>
          <a href="/posts/" title="Posts">Blog</a>
        </li>
        <li hidden>
          <a href="https://github.com/vikramrojo" rel="me">Github</a>
        </li>
        <li hidden>
          <a href="https://twitter.com/vikramrojo" rel="me">Twitter</a>
        </li>
        <li>
          <a href="/feed.xml" title="RSS">RSS</a>
        </li>
      </ul>
    </nav>
</header>