---
layout: base
---

<main>
  <article>
    <h1>{{ title }}</h1>
    <p style="text-align: center">by {{author}}</p>
    <br/>
    {% include partials/h-card %}
    <div>{{ content | safe }}</div>
  </article>
</main>