---
layout: base
---
<main>
  <article>
  {% include partials/h-card %}
  {% include partials/time %}
    <div>
      {{ content | safe }}

      {% for url in photo %}
          <img src="{{ url }}" alt="image">
      {% endfor %}

    </div>
  </article>
</main>